%header
  .points-row
    = link_to root_path, class: "header-logo-link" do
      = image_tag("logo.png", size: "230x72", alt: "Points")

    .nav.pull-right
      %ul
        - if current_user
          %li= link_to "Videos", videos_path
          %li= link_to "Sign out", :logout, method: :post
        - else
          %li= link_to "Sign in", :login
          %li= link_to "Sign up", new_user_path
