.container
  %h1= t('.title')

  %table.table
    - @videos.each do |video|
      %tr
        %td= link_to video, edit_video_url(video)
        %td
          .btn-group
            = link_to 'Edit', edit_video_path(video)
            |
            = link_to 'Show', video_path(video)
            |
            = link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to t('.new_video'), new_video_path, class: "btn btn-primary"
