.container
  %h1 Show video

  %br

  %p#notice= notice

  %p
    %b Name:
    = @video.name
  %p
    %b Video ID:
    = @video.youtube_video_id

  #PointsAppContainer

  .clearfix
  %br

  %p
    = link_to 'Edit', edit_video_path(@video)
    \|
    = link_to 'Back', videos_path

  %br
